.error
{
	color: red;
	width: 500px;
}

.currency
{
	text-align: right;
}

.indented-block
{
	margin-left: 50px;
	width: 400px;
}

table.trans-table
{
	border: 1px solid black;
	margin-top: 8px;
	margin-bottom: 5px;
}
table.trans-table tr
{
	/* background-color: #EEEEFF; */

}
table.trans-table th
{
	color: #5555CC;
	text-align: left;
	padding: 2px;
	border-bottom: 1px solid black;
}
table.trans-table td
{
	padding-right: 8px;
	vertical-align: top;
}



table.transaction
{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}